.form-card {
    /* Hero Form */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 24px;
    gap: 32px;

    /* width: 1200px; */
    height: 688px;
    /* left: 158px; */
    top: 26px;

    background: #F5F5F5;
}